.main-header {
  background-color: #0a95db;
  color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.user {
  display: block;
  background-color: #ccc;
}

.message-list {
  float: right;
  display: flexbox;
}

.message-text {
  display: block;
  float: right;
}
