.main-header {
  background-color: #0a95db;
  color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.user {
  margin-top: 15px;
}

.user h6 {
  padding: 10px;
  margin-top: 10px;
}

li {
  list-style: none;
}
