header {
  background-color: #4286f4;
  text-align: center;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 30px;
  font-weight: bold;
  
  }

#roomsList {
  text-align: left;
  font-size: 15px;
  padding-bottom: 5%;

}
